#child-settings-admin,
#child-permissions-admin,
#child-nav-admin
{
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

#child-nav-admin
{
    top: 100%;
    left: 80%;
    right: 0;
    bottom: auto;
}
